:root {
    --color-contenido: #1b1b1b;
    --color-background: rgb(48, 48, 48);
    --color-resaltado: rgb(1, 165, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
    background: var(--color-background);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-contenido);
    border-radius: 5px;
}

section {
    width: 100%;
    display: flex;
    margin-bottom: 4%;
}

body {
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-size: 2.2vw;
    color: white;
    border-bottom: solid 0.3vw var(--color-resaltado);
    padding-inline: 0.8%;
    margin-bottom: 4vh;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* -----------------INICIO DEL NAVBAR------------------ */
.navbar {
    background: var(--color-contenido);
    z-index: 1;
    bottom: 93%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    color: white;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
}

.navbar .nombre {
    display: none;
}

.navbar-opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navbar-opciones span {
    padding-right: 0.5vw;
}

.navbar-opciones li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-inline: 2vw;
    padding-inline: 0.3vw;
    padding-bottom: 0.5vw;
    cursor: pointer;
}

.navbar-opciones li:hover {
    border-bottom: solid 2px var(--color-resaltado);
}

.navbar-opciones li a {
    text-decoration: none;
    color: white;
}

.btn-menu {
    position: fixed;
    left: 93%;
    cursor: pointer;
    display: none;
}
/* -----------------FIN DEL NAVBAR------------------ */


/* -----------------INICIO DEL HERO------------------ */
.hero {
    width: 100%;
    height: 93vh;
    color: white;
    margin-top: 7vh;
}

.contenedor__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: 100%;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 93%;
    background: rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 7%
}

.logo h1 {
    color: white;
    font-size: 90px;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 1%;
}

.logo p {
    font-size: 27px;
    text-shadow: 3px 3px 4px black;
}

/* -----------------FIN DEL HERO------------------ */


/* -----------------INICIO DE SOBRE MI------------------ */
#sobre-mi {
    margin-top: 2%;
    height: 80vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#sobre-mi .contenido {
    background: var(--color-contenido);
    width: 90%;
    height: 80%;
    border-radius: 10px;
    /* border: solid 0.05vw white;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.719); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#sobre-mi .contenido .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#sobre-mi .contenido .contenedor .img-jenderson {
    border: solid 1px var(--color-resaltado);
    width: 400px;
    height:  400px;
}

#sobre-mi .contenido .contenedor .texto {
    width: 50%;
    color: white;
    font-size: 22px;
    text-align: left;
}
/* -----------------FIN DE SOBRE MI------------------ */


/* -----------------INICIO DE HABILIDADES------------------ */
#habilidades {
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#habilidades .titulo {
    margin-top: 1%;
}

#habilidades .contenido {
    background: var(--color-contenido);
    width: 90%;
    height: 80%;
    border-radius: 10px;
    padding: 2% 0;
    /* border: solid 0.05vw white;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.719); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#habilidades .contenido .mis-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mis-habilidades .contenedor-lista {
    /* border: solid 1px red; */
    width: 30%;
    height: 50vh;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--color-background);
}

.contenedor-lista h2 {
    color: white;
    height: 15%;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    background: var(--color-contenido);
}

.mis-habilidades .contenedor-lista .lista-habilidades {
    border-radius: 10px;
    list-style: none;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    box-shadow: inset 2px 0 15px 2px rgba(255, 255, 255, 0.719);
}

.lista-habilidades::-webkit-scrollbar {
    width: 10px;
    background: var(--color-background);
    border-radius: 5px;
}

.lista-habilidades::-webkit-scrollbar-thumb {
    background: var(--color-contenido);
    border-radius: 5px;
}


.lista-habilidades li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 4% 0;
}

.lista-habilidades span {
    width: 70px;
    height: 70px;
}

.lista-habilidades img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lista-habilidades .barra-habilidad {
    margin-left: 1vw;
    background: var(--color-contenido);
    border-radius: 10px;
    width: 300px;
    height: 25px;
}

.barra-habilidad p {
    text-align: center;
    padding-top: 3px;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 100%;
}


.barra-habilidad .carga {
    margin-top: -25px;
    border-radius: 10px;
    height: 100%;
    border: solid 2px var(--color-resaltado);
    background: var(--color-resaltado);
}

.barra-habilidad .carga:hover {
    background: rgb(2, 196, 2);
    border: solid 2px rgb(2, 196, 2);
}

.barra-habilidad .html {
    width: 80%;
}

.barra-habilidad .css {
    width: 50%;
}

.barra-habilidad .angular {
    width: 70%;
}

.barra-habilidad .typescript {
    width: 70%;
}

.barra-habilidad .firebase {
    width: 80%;
}

.barra-habilidad .javascript {
    width: 40%;
}

.barra-habilidad .python {
    width: 70%;
}

.barra-habilidad .java {
    width: 50%;
}

.barra-habilidad .github {
    width: 70%;
}

.barra-habilidad .office {
    width: 90%;
}

.barra-habilidad .ingles {
    width: 40%;
}
/* -----------------FIN DE MIS HABILIDADES------------------ */


/* -----------------INICIO DE MIS PROYECTOS------------------ */
#proyectos {
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#proyectos .contenido {
    background: var(--color-contenido);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    /* border: solid 0.05vw white;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.719); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#proyectos .contenido .mis-proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mis-proyectos .proyecto {
    border: solid 0.05vw rgb(70, 70, 70);
    background: rgb(243, 243, 243);
    border-radius: 10px;
    cursor: pointer;
    margin: 1.7%;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.mis-proyectos .proyecto img {
    width: 100%;
    height: 85%;
    object-fit: contain;
    border-radius: 10px;
}
/* -----------------FIN DE MIS PROYECTOS------------------ */


/* -----------------INICIO DE CONTACTAME------------------ */
#contactame {
    height: 60vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#contactame .contenido {
    background: var(--color-contenido);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 2% 0;
    /* border: solid 0.05vw white;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.719); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#contactame .contenido .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#contactame .contenido .contenedor .datos-contacto {
    width: 40%;
    height: 100%;
}

.datos-contacto h3 {
    color:white;
    margin-bottom: 1.5%;
}

.datos-contacto span {
    margin-right: 2%;
}

.datos-contacto p {
    color:white;
    padding-left: 10%;
    margin-bottom: 0.7%;
}

.datos-contacto .telefonos,
.datos-contacto .correos,
.datos-contacto .redes {
    margin-top: 4%;
}

.datos-contacto .redes .iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 3%;
    padding-left: 4%;
}

.datos-contacto .redes .icono {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.datos-contacto .redes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contactame form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#contactame form .input-ico {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: white;
    margin-bottom: 2vh;
    width: 60%;
    height: 4.5vh;
    border: 0.12vw solid #aaa;
    border-radius: 5px;
}

.input-ico span {
    padding-inline: 1%;
}

.input-ico i {
    width: 10%;
    color: #aaa;
}

.input-ico input {
    border: none;
    outline: none;
    padding-inline: 1%;
    width: 80%;
    height: 100%;
    cursor: auto;
    font-size: 15px;
    color: black;
}

#contactame form textarea {
    width: 60%;
    height: 10vh;
    border: 0.12vw solid #aaa;
    border-radius: 5px;
    resize: none;
    padding: 0.5% 1%;
    font-size: 15px;
    outline: none;
}

#contactame form button {
    width: 100px;
    height: 30px;
    margin: 2% 0;
    border: none;
    border-radius: 6px;
    background: var(--color-resaltado);
}

#contactame form button:hover {
    background: rgb(1, 104, 1);
    font-weight: bold;
}

/* -----------------FIN DE MIS CONTACTAME------------------ */


/* -----------------INICIO DEL FOOTER------------------ */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--color-contenido);
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
    align-items: center;
    color: white;
    width: 100%;
    height: 7vh;
}

.subir {
    color: white;
}

.subir:hover {
    cursor: pointer;
    color: var(--color-resaltado);
    transform: scale(1.2);
}
/* -----------------FIN DEL FOOTER------------------ */

/* -----------------MediaQueris para tablets y telefonos------------------ */
@media screen and (max-width: 1024px) {
    .btn-menu {
        display: none;
    }
}

@media screen and (max-width: 952px) and (min-width: 700px) {
    .navbar {
        position: fixed;
        z-index: 1;
    }

    .navbar-opciones {
        position: fixed;
        z-index: 1;
        font-size: 25px;
        width: 100%;
        height: 95vh;
        top: 7%;
        right: -100%;
        background: rgba(0, 0, 0, 0.856);
        backdrop-filter: blur(2px);
        flex-direction: column;
        align-items: center;
        transition: ease all 0.4s;
    }

    .navbar-opciones.active {
        right: 0;
    }

    .navbar-opciones li {
        margin-bottom: 7vh;
        padding-bottom: 1vh;
    }

    .navbar-opciones span {
        padding-right: 2vw;
    }
    
    .btn-menu {
        display: block;
        z-index: 1;
        left: 90%;
        font-size: 25px;
    }

}

@media screen and (max-width: 700px) {
    .navbar {
        position: fixed;
        z-index: 1;
    }

    .titulo {
        font-size: 22px;
        border-bottom: solid 2px aqua;
    }
    
    .navbar-opciones {
        position: fixed;
        z-index: 1;
        font-size: 25px;
        width: 100%;
        height: 95vh;
        top: 7%;
        right: -100%;
        background: rgba(0, 0, 0, 0.856);
        backdrop-filter: blur(2px);
        flex-direction: column;
        align-items: center;
        transition: ease all 0.4s;
    }

    .navbar-opciones.active {
        right: 0;
    }

    .navbar-opciones li {
        margin-bottom: 7vh;
    }

    .navbar-opciones span {
        padding-right: 2vw;
    }
    
    .btn-menu {
        display: none;
        left: 90%;
        z-index: 1;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        text-align: center;
        font-size: 15px;
        width: 90%;
        margin-bottom: 5vw;
    }

    .mis-proyectos .proyecto {
        width: 250px;
        height: 150px;
    }
}