* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    border: solid 2px red;
    width: 100%;
    display: flex;
}

body {
    background-color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-size: 2vw;
    color: white;
    border-bottom: solid 0.3vw aqua;
    padding-inline: 0.8%;
    margin-bottom: 4vh;
  }

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* -----------------INICIO DEL NAVBAR------------------ */
.navbar {
    background: #2b2b2b;
    bottom: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    color: white;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
}

.navbar-opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}

.navbar-opciones span {
    padding-right: 0.5vw;
}

.navbar-opciones li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-inline: 2vw;
    padding-inline: 0.3vw;
    padding-bottom: 0.3vw;
    cursor: pointer;
}

.navbar-opciones li:hover {
    border-bottom: solid 2px aqua;
}

.navbar-opciones li a {
    text-decoration: none;
    color: white;
}

.btn-menu {
    position: fixed;
    left: 93%;
    cursor: pointer;
    display: none;
}

.btn-menu:hover {
    color: aqua; /*Esperando cambio de color...*/
}
/* -----------------FIN DEL NAVBAR------------------ */

/* -----------------INICIO DEL HERO------------------ */
.hero {
    border: solid 2px red; /* TESTEOS */
    width: 100%;
    height: 90vh;
    color: white;
}

.contenedor__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 300%;
    height: 100%;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    border: solid 2px red; /*TESTEOS*/
    width: 100%;
    height: 92%;
    background: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 7%
}
/* -----------------FIN DEL HERO------------------ */


/* -----------------INICIO DE SOBRE MI------------------ */
#sobre-mi {
    height: 40vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#sobre-mi .contenido {
    border: solid 2px red; /*TESTEOS*/
    background: #2b2b2b;
    width: 90%;
    height: 80%;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


#sobre-mi .contenido .texto {
    width: 90%;
    color: white;
    font-size: 1.2vw;
}

/* -----------------FIN DE SOBRE MI------------------ */


/* -----------------INICIO DE MIS PROYECTOS------------------ */
#proyectos {
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#proyectos .contenido {
    border: solid 2px red; /*TESTEOS*/
    background: #2b2b2b;
    width: 90%;
    height: 80%;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#proyectos .contenido .mis-proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/* -----------------FIN DE MIS PROYECTOS------------------ */


/* -----------------INICIO DE HABILIDADES------------------ */
#habilidades {
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#habilidades .contenido {
    border: solid 2px red; /*TESTEOS*/
    background: #2b2b2b;
    width: 90%;
    height: 80%;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#habilidades .contenido .mis-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.mis-habilidades .habilidad {
    border: solid 0.12vw aqua;
    margin: 1.7%;
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.699);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    transition: transform .3s;
    position: relative;
    transform-style: preserve-3d;

}

.mis-habilidades .habilidad .adelante,
.mis-habilidades .habilidad .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -o-backface-visibility: hidden;
}

.mis-habilidades .habilidad .adelante img {
    width: 100%;
    height: 85%;
}

.mis-habilidades .habilidad .adelante p {
    width: 100%;
    height: 15%;
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 5.5vh;
}

.mis-habilidades .habilidad .atras {
    transform: rotateY(180deg);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: whitesmoke;
}

.mis-habilidades .habilidad .atras p {
    padding: 2%;
    font-size: 1.2vw;
}

.mis-habilidades .habilidad:hover {
    box-shadow: 13px 13px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: transform .7s;
}

.mis-habilidades .habilidad:active {
    transform: rotateY(180deg);
    box-shadow: -13px 13px 6px rgba(0, 0, 0, 0.5);
}
/* -----------------FIN DE MIS HABILIDADES------------------ */


/* -----------------INICIO DE CONTACTAME------------------ */
#contactame {
    height: 50vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#contactame form {
    display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
}

#contactame form .input-ico {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: white;
    margin-bottom: 2vh;
    width: 60%;
    height: 3vh;
    border: 0.12vw solid #aaa;
    border-radius: 5px;
}

.input-ico span {
    padding-inline: 1%;
}

.input-ico i {
    width: 10%;
    color: #aaa;
}

.input-ico input {
    border: none;
    outline: none;
    padding-inline: 1%;
    width: 80%;
    height: 100%;
    cursor: auto;
    font-size: 15px;
    color: black;
}

#contactame form textarea {
    width: 60%;
    height: 10vh;
    border: 0.12vw solid #aaa;
    border-radius: 5px;
    resize: none;
    padding: 0.5% 1%;
    font-size: 15px;
}

#contactame form button {
    width: 100px;
    height: 30px;
    margin: 2% 0;
    border-radius: 6px;
    background: rgb(0, 230, 230);
}

#contactame form button:hover {
    background: rgb(1, 255, 255);
}

/* -----------------FIN DE MIS CONTACTAME------------------ */


/* -----------------INICIO DEL FOOTER------------------ */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #2b2b2b;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.719);
    align-items: center;
    color: white;
    width: 100%;
    height: 7vh;
}

footer span {
    font-weight: bold;
}

.subir {
    color: white;
}

.subir:hover {
    cursor: pointer;
    transform: scale(1.2);
}
/* -----------------FIN DEL FOOTER------------------ */

/* -----------------MediaQueris para tablets y telefonos------------------ */
@media screen and (max-width: 1024px) {
    .btn-menu {
        display: none;
    }
}

@media screen and (max-width: 952px) and (min-width: 700px) {
    .navbar {
        position: fixed;
        z-index: 1;
    }

    .navbar-opciones {
        position: fixed;
        z-index: 1;
        font-size: 25px;
        width: 100%;
        height: 95vh;
        top: 7%;
        right: -100%;
        background: rgba(0, 0, 0, 0.856);
        backdrop-filter: blur(2px);
        flex-direction: column;
        align-items: center;
        transition: ease all 0.4s;
    }

    .navbar-opciones.active {
        right: 0;
    }

    .navbar-opciones li {
        margin-bottom: 7vh;
        padding-bottom: 1vh;
    }

    .navbar-opciones span {
        padding-right: 2vw;
    }
    
    .btn-menu {
        display: block;
        z-index: 1;
        left: 90%;
        font-size: 25px;
    }

}

@media screen and (max-width: 700px) {
    .navbar {
        position: fixed;
        z-index: 1;
    }

    .titulo {
        font-size: 22px;
        border-bottom: solid 2px aqua;
    }
    
    .navbar-opciones {
        position: fixed;
        z-index: 1;
        font-size: 25px;
        width: 100%;
        height: 95vh;
        top: 7%;
        right: -100%;
        background: rgba(0, 0, 0, 0.856);
        backdrop-filter: blur(2px);
        flex-direction: column;
        align-items: center;
        transition: ease all 0.4s;
    }

    .navbar-opciones.active {
        right: 0;
    }

    .navbar-opciones li {
        margin-bottom: 7vh;
    }

    .navbar-opciones span {
        padding-right: 2vw;
    }
    
    .btn-menu {
        display: none;
        left: 90%;
        z-index: 1;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        text-align: center;
        font-size: 15px;
        width: 90%;
        margin-bottom: 5vw;
    }

    .mis-proyectos .proyecto {
        width: 250px;
        height: 150px;
    }
}